
.home-tab{
    padding: 0.5rem;
}
.container{
    padding: 0.5rem;
    background-color:rgb(227, 227, 227);
}

.reset-btn{
    margin-left: 0.5rem;
}

.search-bar{
    border-style:ridge;
    border-radius: 5px;
    padding: 8px;
}

.books-form-btn{
    margin-top: 1rem;
    text-align: center;
}

.books-form-resetbtn{
    margin-left: 0.5rem;
}